<p style="color: green"><%= notice %></p>

<%= render @registro_aaaa %>

<div>
  <%= link_to "Edit this registro aaaa", edit_registro_aaaa_path(@registro_aaaa) %> |
  <%= link_to "Back to registro aaaas", registro_aaaas_path %>

  <%= button_to "Destroy this registro aaaa", @registro_aaaa, method: :delete %>
</div>
