<div id="<%= dom_id registro_srv %>">
  <p>
    <strong>Servicio:</strong>
    <%= registro_srv.servicio %>
  </p>

  <p>
    <strong>Protocolo:</strong>
    <%= registro_srv.protocolo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= registro_srv.nombre %>
  </p>

  <p>
    <strong>Objetivo:</strong>
    <%= registro_srv.objetivo %>
  </p>

  <p>
    <strong>Prioridad:</strong>
    <%= registro_srv.prioridad %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= registro_srv.peso %>
  </p>

  <p>
    <strong>Puerto:</strong>
    <%= registro_srv.puerto %>
  </p>

</div>
