<p style="color: green"><%= notice %></p>

<%= render @registro_a %>

<div>
  <%= link_to "Edit this registro a", edit_registro_a_path(@registro_a) %> |
  <%= link_to "Back to registro as", registro_as_path %>

  <%= button_to "Destroy this registro a", @registro_a, method: :delete %>
</div>
